extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        .jumbotron.text-center
          h1 About Our Code Blog

        //- Our Mission Card
        .card
          .card-body
            h2.card-title Our Mission
            p.card-text Our mission is to provide a platform for developers to publish high-quality articles, tutorials, and code snippets. We believe in the power of knowledge sharing and aim to foster a collaborative learning environment.

        //- What You'll Find Here Card
        .card
          .card-body
            h2.card-title What You'll Find Here
            ul.card-list
              li We publish articles on a wide range of programming languages, frameworks, and technologies.
              li You can explore in-depth tutorials and guides to help you solve coding challenges.
              li Share your own expertise by contributing your articles and code examples.
              li Connect with fellow developers through comments and discussions.

        //- Join Our Community Card
        .card
          .card-body
            h2.card-title Join Our Community
            p.card-text We welcome developers of all levels to become part of our community. Whether you're here to learn, share, or connect, we're excited to have you on board.
            p.card-text If you're interested in contributing to our blog or have any questions, feel free to reach out to us at contact@DevHub.com.
            p.card-text We hope you find our code blogging platform valuable and look forward to your active participation.
