extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        .jumbotron.text-center
          h1 Coding Challenges
          p Sharpen your coding skills with these challenges.

        //- Coding Challenges (You can add more challenges here)
        .coding-challenges
          .card.challenge-card
            .card-body
              h2.card-title.challenge-title
                a(href="https://www.onlinegdb.com/") Challenge 1: FizzBuzz
              p.card-text
                | Description: Write a program that prints the numbers from 1 to 100. For multiples of three, print "Fizz" instead of the number, and for multiples of five, print "Buzz." For numbers that are multiples of both three and five, print "FizzBuzz."
              p.date.card-text
                | Difficulty: Easy

          .card.challenge-card
            .card-body
              h2.card-title.challenge-title
                a(href="https://www.onlinegdb.com/") Challenge 2: Palindrome Checker
              p.card-text
                | Description: Write a function that checks if a given word or phrase is a palindrome (reads the same forwards and backward).
              p.date.card-text
                | Difficulty: Medium

          .card.challenge-card
            .card-body
              h2.card-title.challenge-title
                a(href="https://www.onlinegdb.com/") Challenge 3: Fibonacci Sequence
              p.card-text
                | Description: Write a program to generate the Fibonacci sequence up to a specified number of terms.
              p.date.card-text
                | Difficulty: Medium
