extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        .jumbotron.text-center
          h1 Website Features
          p Explore the exciting features of our website that make it a valuable resource for developers and tech enthusiasts.

        //- List of Features
        .features-list
          

          .card
            .card-body
              h2.card-title Articles & Tutorials
              p.card-text Access a vast collection of articles and tutorials on various programming topics.

          .card
            .card-body
              h2.card-title Coding Challenges
              p.card-text Sharpen your coding skills by solving coding challenges and problems.

          

          .card
            .card-body
              h2.card-title Featured Content
              p.card-text Discover handpicked featured articles, tutorials, and videos from experts.

          .card
            .card-body
              h2.card-title Interactive Coding Playground
              p.card-text Practice coding in an interactive environment with real-time feedback.

          .card
            .card-body
              h2.card-title Community Contributions
              p.card-text Contribute your own articles, tutorials, and code snippets to help others learn and grow.

          .card
            .card-body
              h2.card-title Notifications
              p.card-text Stay updated with notifications about new content, replies, and community activity.

          .card
            .card-body
              h2.card-title User Dashboard
              p.card-text Manage your profile, saved content, and preferences through your user dashboard.

          .card
            .card-body
              h2.card-title Search Functionality
              p.card-text Easily search for articles, tutorials, and forum topics to find the information you need.
